@model PlaylistApp.Entities.Album

@{
    ViewData["Title"] = "Edit";
}



<div class="row orderForm">
    <form asp-controller="Album" asp-action="Edit" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2 p-lg-4">Edit Album: @Model.Title</h3>
        <hr />
        @Html.HiddenFor(m => Model.Id)
    <div class="form-group">
        
        <label asp-for="@Model.Title" class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <input asp-for="@Model.Title" type="text" class="form-control" style="width:500px" />
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>

    </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-success" type="submit" value="Edit" />
                <input class="btn btn-secondary" type="submit" value="Return" asp-controller="Album" asp-action="Index" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
