@model IEnumerable<PlaylistApp.Entities.Album>

@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-success mt-5 m-2"  asp-controller="Album" asp-action="Create">Create new album</a>

<div class="row">
    @foreach (var album in Model)
    {
        <div class="card text-white  m-2" style="max-width: 25rem;">
            <div class="card-header bg-primary">@album.Title</div>
            <div class="card-body">
                <h5 class="card-title" style="color:black">Songs Count: @album.Songs?.Count()</h5>
                <div style="display:flex; justify-content:space-evenly">
                    @if (album.Songs.Count == 0)
                    {
                        <a class="btn btn-outline-primary disabled mr-2" asp-area="">View Songs</a>
                    }
                    else
                    {
                        <a class="btn btn-outline-primary mr-2" asp-controller="Song" asp-action="AlbumSongIndex" asp-route-albumID="@album.Id" asp-area="">View Songs</a>
                    }
                    <a class="btn btn-info mr-2" asp-area="" asp-controller="Album" asp-action="Edit" asp-route-id="@album.Id">Edit</a>
                    <a class="btn btn-danger" asp-area="" asp-controller="Album" asp-action="Delete" asp-route-id="@album.Id">Delete</a>
                </div>
            </div>
        </div>

    }
</div>



